doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recipe app
    script(src="/javascripts/client.js" defer) 
  body 
    h1= name
    h2 Instructions:
    div#instructionList
    br
    h2 Ingredients:
    div#ingredientList

